.progress_player_content {
  position: relative;
  background-color: #fff;
  border: 1px solid #a7a7a7;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.progress_player_wrapper_box {
  flex: 1;
  padding: 0 40px 0 30px;
  height: 100%;
  display: flex;
  align-items: center;
}
.progress_player_wrapper {
  &:hover {
    background-color: rgba(95, 95, 95, 0.3);
  }
  transition: background-color 0.3s;
  background-color: rgba(95, 95, 95, 0.15);
  position: relative;
  height: 6px;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 3px;
  box-sizing: border-box;
  cursor: pointer;
  .progress_player_fill {
    display: inline-block;
    width: 0;
    height: 100%;
    border-radius: 3px;
    background: #3188eb;
  }
  .progress_player_slider {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 40%;
    border: 2px solid #3188eb;
    background: #fff;
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 1;
  }
  .progress_player_label_box {
    position: absolute;
    width: 100%;
    top: 6px;
    .progress_player_select {
      position: absolute;
      font-size: 14px;
      color: #3188eb;
    }
    .progress_player_unselect {
      position: absolute;
      font-size: 12px;
      color: rgba(0, 0, 0, 0.65);
    }
    .progress_player_label_divider {
      position: absolute;
      transform: translateX(-50%);
      width: 1px;
      height: 20px;
      background-color: #a7a7a7;
    }
    .progress_player_label_item {
      padding: 5px 5px 0 5px;
      white-space: nowrap;
    }
  }
}

.progress_player_icon_box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 100%;
  .progress_player_icon_play,
  .progress_player_icon_pause {
    cursor: pointer;
    width: 30px;
    height: 30px;
  }
}
